language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
jdk:
  - openjdk6
gemfile:
  - Gemfile
  - gemfiles/Gemfile.rails3_1
  - gemfiles/Gemfile.rails3_0
before_script: "sh -c 'cd spec/dummy && rake db:migrate RAILS_ENV=test'"
script: "xvfb-run rake"
notifications:
  email:
    recipients:
      - just.lest@gmail.com
